html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

// flex box
.fl {
  display: flex;

  &-jc-ct {
    justify-content: center;
  }

  &-jc-sa {
    justify-content: space-around;
  }

  &-ai-ct {
    align-items: center;
  }

  &-di-co {
    flex-direction: column;
  }
}

.no-select {
  user-select: none;
}

.main {
  &-container {
    min-height: 100vh;
    background-color: #fbab7e;
    background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
    overflow-x: hidden;
  }

  &-inside-container {
    border-radius: 20px;
    padding: 3rem 2rem;

    @include breakpoint-up(medium) {
      margin: 20px 30px;
      background-color: rgba(#fff, 0.3);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
}

.err-notification {
  position: fixed;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 10px;
  background-color: rgba(red, 0.4);
  border-radius: 10px;
  color: $gray;
  animation: appear 0.2s linear;
}

@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.spinner {
  border: 5px solid $gray;
  border-top: 5px solid $pink;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.5s linear infinite;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  &-background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: rgba(#fff, 0.15);
    backdrop-filter: blur(5px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-invisible {
    display: none;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
