$x-small-font-size: 0.625rem;
$small-font-size: 0.8rem;
$big-font-size: 1.2rem;
$x-large-font-size: 1.5rem;
$xx-large-font-size: 2rem;

$pink: rgb(243, 103, 103);
$blue: rgb(23, 111, 103);
$yellow: rgb(255, 250, 189);
$gray: rgb(56, 56, 56);
$blue: rgb(55, 99, 218);
