.db {
  &-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 20px;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;

      :nth-child(1):nth-last-child(1) {
        grid-column: 1 / span 2;
      }
    }

    @include breakpoint-up(large) {
      grid-template-columns: repeat(3, 1fr);

      :nth-child(1):nth-last-child(1) {
        grid-column: 1 / span 3;
      }

      :nth-child(1):nth-last-child(2) {
        grid-column: 1 / span 2;
      }
    }
  }

  &-item-container {
    border: 2px solid $gray;
    border-radius: 10px;
    padding: 10px;

    @include breakpoint-down(small) {
      background-color: rgba(#fff, 0.3);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    > :nth-child(even) {
      margin-bottom: 5px;
      overflow-wrap: break-word;
      max-width: 20rem;
    }

    > :nth-child(odd):not(:last-child) {
      font-size: $small-font-size;
      text-decoration: underline;
      user-select: none;
    }
  }

  &-input-container {
    > input {
      background-color: rgba(#fff, 0.3);
      border: 1px solid rgba($color: #000000, $alpha: 0.7);
    }

    > input:focus {
      outline: none;
    }
  }

  &-btn-container {
    align-self: center;

    > div {
      border: 1px solid $gray;
      padding: 0 1rem;
      border-radius: 50px;
      cursor: pointer;
    }

    :not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  &-usr-info {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(#fff, 0.3);
    display: grid;
    grid-template-columns: repeat(2, fit-content(100px));
    padding: 8px 10px;
    font-size: 0.7rem;
    column-gap: 10px;
    border-radius: 0 0 10px 0;
  }

  &-overlay-cf {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(#fff, 0.15);
    backdrop-filter: blur(5px);
    overflow: hidden;

    > div {
      width: fit-content;
    }

    &-question {
      text-align: center;
    }

    &-btn {
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: $blue;
      }
    }
  }
}
