@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Alloy Ink';
  src: url('./fonts/AlloyInk-lgdWw.otf');
}

@import './helpers/variables';
@import './helpers/mixins';
@import './helpers/globals';

// pages
@import './components/dashboard';
@import './components/login';
@import './components/timekeeper';
